<h4 class="col-xs-offset-1", style="padding-bottom: 30px;"><span style="background-color: #DDDDDD; padding: .3em;">会員一覧</span></h4>
<div class="col-xs-8">
  <table class="table table-bordered" style="margin: 40px 0;">
    <thead>
      <th class="active", style="height: 40px; width: 15%">会員ID</th>
      <th class="active", style="height: 40px; width: 20%">氏名</th>
      <th class="active", style="height: 40px; width: 30%">メールアドレス</th>
      <th class="active", style="height: 40px; width: 15%">ステータス</th>
    </thead>
    <tbody>
      <% @customers.each do |c| %>
      <tr>
        <td>
          <%= c.id %>
        </td>
        <td class="under">
          <%= link_to admins_customer_path(c) do %>
          <%= c.full_name%>
          <% end %>
        </td>
        <td>
          <%= c.email %>
        </td>
        <td>
          <% if c.is_active ==true %>
           有効
          <% else %>
           退会済み
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
