<!-- <p>注文情報確認画面（ECサイト側）</p> -->
<h3>注文情報確認</h3>
<table border="1">
	<tr>
		<th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th>
	</tr>
	<tr>
		<td>カートに入れた商品を反映させる</td>
		<td>商品の単価を反映させる</td>
		<td>数量反映させる</td>
		<td>小計反映させる</td>
	</tr>
</table>

<table border="1">
	<tr><td>送料</td><td>800</td></tr>
	<tr><td>商品合計</td><td>商品合計反映させる</td></tr>
	<tr><td>請求金額</td><td>請求金額反映させる</td></tr>
</table>

<div style="display: inline-flex;"><span>支払い方法</span>new.html.erbで決めた支払い方法反映させる</div><br>
<div style="display: inline-flex;"><span>お届け先</span>new.html.erbで決めたお届け先を反映させる</div>
