<div>
	<span>注文内容</span>
	<table border="1">
		<tr>
			<th>商品</th>
			<th>単価(税込)</th>
			<th>個数</th>
			<th>小計</th>
		</tr>
		<% @order.order_products.each do |order_product| %>
			<tr>
				<td><%= order_product.product.name %></td>
				<td><%= order_product.include_tax_unit_price %></td>
				<td><%= order_product.quantity %></td>
				<td><%= order_product.include_tax_total_price %></td>
			</tr>
		<% end %>
	</table>
</div>
