<h2>ジャンル検索</h2>
<table class='table col-xs-12'>
	<% product_genres.each do |product_genre| %>
	<tbody>
	    <tr>
	     <th><%= product_genre.name %></th>
	    </tr>
	</tbody>
	<% end %>
	<br>
</table>
