// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nextgamen{
	padding: 30px 30px 30px 300px;
}

.pay{
	font-weight: bold;
}

.ship{
	font-weight: bold;
}

.row{
	padding: 10px 10px 10px 10px;
}

.panel-heading{
	background-color: #ff9933;
}