<div class='container'>
	<div class='row'>
		<div class='col--3'>
		サイドバーをいれる
		ジャンル検索<br>
		ケーキ<br>
		焼き菓子<br>
		プリン<br>
		キャンディ<br>
		</div>


		<div class='col-xs-9'>
			<h2>商品一覧</h2><h6>(全X件)</h6>

			<div class='col-xs-3'>
			<% @products.each do |product| %>
				<div class="products-index-item">
					<%= product.name %>
					<%= product.image_id %>
					<%= product.no_tax_price %>
				</div>
			<% end %>
			</div>

		</div>


	</div>
</div>

