<div class = container>
	<div class = row>

		<div class = 'col-xs-6'>
		<%= attachment_image_tag @product, :image, :fill, 300, 300,  fallback: "no-image.jpg"%>
		</div>

		<div class = 'col-xs-6'>
			<table>
				<thead>
					<tr>
						<th style="border:none;"></th>
					</tr>
				</thead>

				<tbody>
						<tr>
							<td>
								<h2><%= @product.name %></h2>
							</td>
						</tr>
						<tr>
							<td class="panel-body">
								<%= @product.discription %>
							</td>
						</tr>
						<tr>
							<td>
								<h4>¥ <%= (@product.no_tax_price * 1.1.to_f).ceil %></h4>
								<h6>(税込)</h6>
							</td>
						</tr>
						<tr>
							<td>
								<!%= form_for @cart_product, url: cart_products_path(@cart_product) do |f| %>
							            <!%= f.select :quantity, [*1..10], include_blank: "個数選択" %>
							            <!div class="actions">
									    	<!%= f.submit 'カートに入れる' %>
									    <!/div>
							      <!% end %>
							</td>
						</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
