<div class='col-xs-9'>
<h2>注文履歴一覧</h2>

<table class="panel panel-default">
  <thead>
    <tr>
      <th class="panel-heading"></th>
      <th class="panel-heading"></th>
      <th class="panel-heading"></th>
      <th class="panel-heading"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
